@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Red Hat text';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Red Hat Text', monospace;
}